body{
  /* background-color: lightgreen; */
  background-image: url("paqkka1.svg");
  /* height: 150px; */
}
table, th, td {
    border: 2px solid darkgreen;
    padding: 10px;
  }
  b{
    font-size: 25px;
    color: darkblue;
  }
  th{
    font-size: 20px;
    color: darkslateblue
  }
.input{
  /* width:10%; */
  /* height: 20px; */
  /* display: flex; */
  margin-top: 15px;
  margin-left: 20px;
  padding-top: 5px;
  padding-right: 50px;
  padding-left: 5px;
  background-color: lightcyan;
  color: red;
  
}

.radio1{
  margin-top: 10px;
  margin-left: 12px;
}
h1{

  color: blue;
  font-size: 30px;
  
}
.checking{
  margin-left: 13px;
}

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  margin-left: 30px;
  margin-top: 25px;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  background-color: cyan;
  border: 2px solid red;
}

.button:active {
  scale: 1;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.magic{
  float: left;
  width: 750px;
  margin-left: 100px;
  margin-top: 75px;
  text-align: center;
  border: 5px solid black;  
  box-shadow: 10px 10px 108px darkgreen;
}
.cookie{
  /* height: 500px;
  border: 5px solid red; */
  float: right;
  margin-top: 75px;
  border: 5px solid black;
  margin-left: 50px;
}
@media screen and (max-width: 666px) {
  body {
    background-color: red;
    background-image: none;
  }
  .magic{
    margin-left: 2%;
    margin-right: 0;
  }
  .cookie{
    margin-left: -100px;
  }
  
}

